*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: HelloFont;
    src: url(Fonts/SuperMario256.ttf);
}

body{
    background: rgb(12.5, 12.5, 12.5);
    color: #fff;
}

#header{
    border: 1px solid rgb(12.5, 12.5, 12.5);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(17, 4, 63, 0.73)), url(images/BG/BG.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    /*
    color: #000;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;  
    */
    color: rgb(255, 255, 255);
    /* text-shadow: 0px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff;*/
    text-decoration: none;
    font-size: 30px;
    font-style:oblique;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    /*
    color: #000;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;  
    */
    font-family: 'HelloFont', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    /* text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff; */
    margin-top: 20%;
    font-size: 60px;
    font-weight: bold;
}

.header-text h1{
    /*
    color: #000;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;  
    */
    color: rgb(255, 255, 255);
    /* text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff; */
    font-size: 100px;
    margin-top: 20px;
}

.header-text h1 span{
    color: rgb(192, 3, 3);
}

/*--------about--------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;   
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: white;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*---------Services------*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: rgb(17, 101, 211);
    transform: translateY(-10px);
}

/* ----- portfolio ---- */

#portfolio {
    position: relative;
    z-index: 1;
}

.work-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.work {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    justify-content: center; /* Center content vertically */
    border-radius: 10px;
    overflow: hidden;
    background-color: #262626;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    position: relative;
    width: 100%;
    max-width: 100%; /* Allow projects to take full width */
    margin-bottom: 30px;
}

.image-block {
    flex-basis: auto; /* Remove fixed width */
    padding: 20px;
    box-sizing: border-box;
}

.image-block img {
    max-width: 800px; /* Make sure images don't overflow */
    height: 800px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-block {
    position: relative; /* Reset to relative positioning */
    width: 100%;
    background: rgba(49, 53, 58, 0.8);
    padding: 20px;
    border-radius: 0 0 10px 10px; /* Adjust border-radius as needed */
    transform: scaleY(1); /* Ensure it's always displayed */
    transform-origin: top;
    transition: transform 0.3s;
    overflow: hidden;
}

.info-block h3 {
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
}

.info-block p {
    color: #ddd;
    margin-bottom: 15px;
    font-size: 14px;
}

.info-block a {
    color: #ff004f;
    text-decoration: none;
    transition: color 0.3s;
}

.info-block a:hover {
    color: #fff;
}

.video-block {
    flex-basis: auto; /* Remove fixed width */
    text-align: center;
    background: #262626;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.video-block video {
    max-width: 100%; /* Make sure videos don't overflow */
    max-height: 100%;
    border-radius: 0 10px 10px 0;
}


/* Media query for smaller screens (e.g., phones) */
@media (max-width: 768px) {
    .work {
        margin-bottom: 20px; /* Reduced bottom margin for smaller screens */
    }

    .info-block {
        height: auto; /* Change height to auto for smaller screens */
        transform: scaleY(1); /* Ensure it's always displayed */
    }

    .image-block img {
    max-width: 100%; /* Make sure images don't overflow */
    height: 100%;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}

/*----------contact----------------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: rgb(17, 101, 211);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: rgb(17, 101, 211);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: rgb(17, 101, 211);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size:  18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: rgb(17, 101, 211);
}

/*---------------------------d4 world boss details----------------------------*/
#diablo-4-world-boss-details {
    background-color: #000000;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
  }
  
  .d4BossName {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .bossTime {
    font-size: 18px;
    margin-bottom: 10px;
    color: #777;
  }
  
  .bossDetails {
    font-family: monospace;
    white-space: pre-wrap;
  }

#credit{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

  
  
  
  
  
  
  


/*--------------------------- css for small screens----------------------------*/
nav .fas{
    display: none;
}

@media only screen and (max-width : 600px){
    #header{
        background-image: url(images/BG/BG.png);
    }

    /* Reset and common styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: HelloFont;
    src: url(Fonts/SuperMario256.ttf);
}

body {
    background: rgb(12.5, 12.5, 12.5);
    color: #fff;
    font-size: 16px; /* Default font size for small screens */
}

/* Header styles */
#header {
    border: 1px solid rgb(12.5, 12.5, 12.5);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(17, 4, 63, 0.73)), url(images/BG/BG.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Logo size for small screens */
.logo {
    width: 70px;
}

nav ul {
    background: rgb(17, 101, 211);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li {
    display: block;
    margin: 25px;
}

nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

/* Header text size for small screens */
.header-text {
    margin-top: 100%;
    font-size: 24px;
}

.header-text h1 {
    font-size: 40px;
}

/* About section styles for small screens */
#about {
    padding: 40px 0; /* Increased padding for smaller screens */
    color: #ababab;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 100%;
    font-size: 14px;
}

.tab-links {
    font-size: 16px;
    margin-right: 20px;
}

/* Services section styles for small screens */
#services {
    padding: 20px 0; /* Decreased padding for smaller screens */
}

.services-list div {
    padding: 20px; /* Decreased padding for smaller screens */
    font-size: 14px;
}

.work-list {
    margin-top: 30px; /* Adjusted margin for smaller screens */
}

.work {
    flex-direction: column; /* Stacked content for smaller screens */
    margin-bottom: 20px; /* Adjusted margin for smaller screens */
}

/* Contact section styles for small screens */
.contact-left,
.contact-right {
    flex-basis: 100%;
}

/* Copyright text size for small screens */
.copyright {
    font-size: 14px;
}

}